[temperature_sensor chamber_temperature]
sensor_type:  Generic 3950
sensor_pin: CHAMBER_TEMPERATURE
min_temp: 0
max_temp: 75
#   See the "extruder" section for the definition of the above
#   parameters.
#gcode_id:
#   See the "heater_generic" section for the definition of this
#   parameter.